body{
    margin: 0%;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: rgb(37, 37, 37);
}

legend{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
}

canvas{
    width: 70%;
    height: 100%;
}

.controls{
    width: 30%;
    height: 100%;
    background-color: rgb(240, 230, 234);
}

label{
    display: inline-flex;
}

.container{
    display: flex;
    margin-right: 20px;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 10%;
}

p{
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}

.input-rdo{
    background-color: rgb(61, 61, 78);
    transform: scale(1.5);
    accent-color: aliceblue;
}

.input-rdo:hover{
    transform: scale(1.7);

}

.txt-dim{
    width: 130px;
}

.txt-mat{
    width: 60px;
}

.txt-fin{
    width: 90px;
}

.txt-shl{
    width: 95px;
}

.slc-color{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    background-color: rgb(61, 61, 78);
}

.menu-element{
    margin-right: 9px;
}

.input-n{
    width: 30px;
    height: 24px;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    background-color: rgb(61, 61, 78);
}

.input-cm{
    width: 57px;
    height: 24px;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    background-color: rgb(61, 61, 78);
}

fieldset{
    margin: 9px;
    display: flex;
}

button{
    width: 30px;
    height: 30px;
    border-radius: 10%;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    color: aliceblue;
    background-color: rgb(69, 69, 85);
}

button:hover{
    transform: scale(1.05);
    background-color: rgb(83, 83, 97);
}

@media(max-width:1670px){
    fieldset{
        display: block;
    }

    .container{
        margin-bottom: 20px;
    }

    /* main{
        display: block;
    } */

    /* canvas{
        width: 60%;
        height: 60%;
    } */

    /* div{
        width: 100%;
        height: 40%;
    } */
} 